<header>
    <h1><i class="fas fa-info-circle"></i>Ecran match en cours</h1>
</header>
<main>
    <div id="message-container">
        <span class="message"></span>
        <i class="fas fa-info-circle"></i> 
    </div>
    <h2>Jam n°7 en cours</h2>
    <div class="title-role">
        <h3>Blocker</h3>
        <h3>Jammer</h3>
    </div>
    <div class="joueuses-en-jam">
        <div class="container-blocker"></div>
        <div class="container-jammer"></div>
    </div>
    <div class="container-btn-validation">
        <button id="btn-validation" disabled>Valider la ligne de joueuses</button>
    </div>
    
    <h2>Roster Équipe</h2>
    <div class="liste-joueuses">
        <div class="joueuse">
            <div class="derby-name">
                Derby name 1
            </div>
        </div>
        <div class="joueuse">
            <div class="derby-name">
                Derby name 2
            </div>
        </div>
        <div class="joueuse">
            <div class="derby-name">
                Derby name 3
            </div>
        </div>
        <div class="joueuse">
            <div class="derby-name">
                Derby name 4
            </div>
        </div>
        <div class="joueuse">
            <div class="derby-name">
                Derby name 5
            </div>
        </div>
        <div class="joueuse">
            <div class="derby-name">
                Derby name 6
            </div>
        </div>
        <div class="joueuse">
            <div class="derby-name">
                Derby name 7
            </div>
        </div>
        <div class="joueuse">
            <div class="derby-name">
                Derby name 8
            </div>
        </div>
        <div class="joueuse">
            <div class="derby-name">
                Derby name 9
            </div>
        </div>
        <div class="joueuse">
            <div class="derby-name">
                Derby name 10
            </div>
        </div>
        <div class="joueuse">
            <div class="derby-name">
                Derby name 11
            </div>
        </div>
        <div class="joueuse">
            <div class="derby-name">
                Derby name 12
            </div>
        </div>
        <div class="joueuse">
            <div class="derby-name">
                Derby name 13
            </div>
        </div>
        <div class="joueuse">
            <div class="derby-name">
                Derby name 14
            </div>
        </div>
        <div class="joueuse">
            <div class="derby-name">
                Derby name 15
            </div>
        </div>
    </div>
</main>

